// -----------------------------------------------------------------------------
// This file contains all styles related to the main body of the site/application.
// -----------------------------------------------------------------------------
/**
* Override bootstrap paddings to match PSD layout
*/
.col-lg-4.bugle-sidebar {
  @media (min-width : 1200px) {
    padding-left : 70px;
  }
}

.error404 {
  .site-main {
    text-align : center;
  }
  .page-content {
    margin-bottom : 40px;
  }
}

.bugle-before-footer-area {
  margin-top     : 40px;
  padding-top    : 60px;
  padding-bottom : 20px;
  background     : #f5f5f5;
  .widget_bugle_posts {
    .bugle-layout-b-row {
      .col-xs-6 {
        width : 100%;
      }
    }
  }
}