// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

/* Header */
.site-branding {
  padding : 15px;
  @media (min-width : 768px) {
    padding : 25px 15px;
  }
  @media (max-width:767px){
    .header-logo {
      text-align : center;
    }
  }

}

.header-banner {
  text-align : right;
}

.custom-logo {
  margin-top : 10px;
}