.newspaper_x_widgets {
  &.newspaper-x-layout-a {
    margin-bottom: 30px;
  }


          

  .newspaper-x-layout-b-row:last-of-type{
    .border{
      border: none !important;
    }
  }
  .newspaper-x-layout-b-row{
    .card-info{
      position: relative;
      left: 15px;
    }
    .newspaper-x-title{
      h3, h4 {
        margin-top: -5px;
      }
      h3{
        line-height: 0px;
        margin-bottom: 5px;
        a{
          font-size:15px;
          font-weight:700;
          line-height: 20px;
        }
      }
    }
  }
  .newspaper-x-blog-post-layout-a {
    .newspaper-x-content-a {
      font-weight: 400;
      line-height: 20px;
      color: #8c9597;
      margin-top:10px;
      font-family: $font__main;
      a{
        color:#8c9597;
      }
    }

    .newspaper-x-title {
      margin-bottom: 10px;
      h4 {
        > a {
          color: $color_text-color;
          font-weight: 700;
          &:hover,
          &:focus {
            text-decoration: none;
            color: $color_brand-newspaper-x;
          }
        }
      }
    }
    .newspaper-x-date{
      line-height:25px;
      font-weight: 400;
      font-size:12px;
      font-family: $font__main;
      color: #bfbfbf;
    }
    .newspaper-x-author{
      font-size: 12px;
      a{
        color: $color_main-accent;
        padding-right: 7px;
        margin-right: 7px;
        border-right: 1px solid #bfbfbf;
      }
    }
    @media (max-width: 767px) {
      margin-bottom: 15px;
    }
    @media (min-width: 768px) {
      display: inline-block;
    }
    .newspaper-x-image {
      img {
        width: 100%;
        max-height: 165px;
      }
    }

    .newspaper-x-title {
      h3 {
        font-size: 17px;
        text-transform: uppercase;
        font-weight: bold;
        font-family: $font__main;
        margin-top: 23px;
        margin-bottom: 0;
        > a {
          font-weight: bold;
          color: inherit;
          &:hover,
          &:focus {
            text-decoration: none;
            color: $color_brand-newspaper-x;
          }
        }
      }
    }

    .newspaper-x-content, .newspaper-x-after-content-sidebar {
      font-size: 15px;
      font-family: $font__alternate;
      color: $color__text-title;
    }

  }
  .border {
    border-bottom: 1px dotted #d7d7d7;
  }
  .newspaper-x-blog-post-layout-b {
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 25px;


    @media (min-width: 768px) {
      > .row > .col-xs-12:last-of-type {
        padding-left: 0;
      }
    }
    @media (max-width: 767px) {
      .newspaper-x-image {
        margin-bottom: 10px;
      }
    }

    .newspaper-x-image {
      margin-bottom: 25px;
      max-height: 225px;
      display: inline-block;
      float: left;
      img {
        width: 100%;
      }
    }
    .col-sm-5{
      .newspaper-x-image {
        max-height: 80px;
      }
    }
    .col-sm-4{
      .newspaper-x-image {
        max-height: 100px;
      }
    }

    .newspaper-x-content {
      font-family: $font__main;
      font-weight: 400;
      line-height: 20px;
      color: #8c9597;
      margin-top:10px;
      a{
        color:#8c9597;
      }
    }

    .newspaper-x-title {
      h4 {
        > a {
          color: $color_text-color;
          font-weight: 700;
          &:hover,
          &:focus {
            text-decoration: none;
            color: $color_brand-newspaper-x;
          }
        }
      }
    }
    .newspaper-x-date{
      line-height:25px;
      font-weight: 400;
      font-size:12px;
      font-family: $font__main;
      color: #bfbfbf;
    }
    .newspaper-x-author{
      font-size: 12px;
      a{
        color: $color_main-accent;
        padding-right: 7px;
        margin-right: 7px;
        border-right: 1px solid #bfbfbf;

      }
    }
  }

  @media (max-width: 359px) {
    .newspaper-x-layout-c-row {
      .col-xs-6 {
        width: 100%;
      }
    }
  }

  .newspaper-x-blog-post-layout-c {
    margin-bottom: 30px;
    @media (max-width: 767px) {
      margin-bottom: 10px;
    }
    .newspaper-x-image {
      width: 100%;
      display: block;
      max-height: 225px;
      margin-bottom: 30px;
      > img {
        width: 100%;
      }
    }
    .newspaper-x-content {
      font-weight: 400;
      line-height: 20px;
      color: #8c9597;
      margin-top:10px;
      a{
        color:#8c9597;
      }
    }
    .newspaper-x-category{
      padding: 3px 7px 3px 10px;
      line-height:25px;
      font-weight: 400;
      background: #0a396d;
      a{
        color: #fff;
        font-size: 13px;
        font-family: $font__main;
      }
      &:hover {
        background: $color_contrast-hover;
      }
    }
    .newspaper-x-date{
      line-height:25px;
      font-weight: 400;
      margin-left: 13px;
      font-size:12px;
      font-family: $font__main;
      color: #bfbfbf;
    }
    .newspaper-x-title {
      h4 {
        > a {
          color: $color_text-color;
          font-weight: 700;
          &:hover,
          &:focus {
            text-decoration: none;
            color: $color_brand-newspaper-x;
          }
        }
      }
    }
    .newspaper-x-post-meta {
      > ul {
        .post-comments {
          &:after {
            display: none;
          }
        }
        .post-category {
          display: none;
        }
      }
    }
  }
}

.newspaper-x-post-meta {
  > ul {
    list-style-type: none;
    margin: 15px 0 10px;
    padding: 0;
    > li {
      display: inline-block;
      font-size: 13px;
      font-family: 'Droid Serif';
      position: relative;
      &:after {
        content: '/';
        display: inline-block;
        margin-left: 12px;
        margin-right: 12px;
      }
      &:last-of-type {
        &:after {
          display: none;
        }
      }
    }
  }
}

.newspaper-x-layout-a-row,
.newspaper-x-layout-c-row {
  margin-bottom: 30px;
}

.newspaper-x-after-content-sidebar {
  .newspaper-x-title {
    h3 {
      font-size: 15px;
      font-family: $font__main;
      margin-top: 0px;
      margin-bottom: 0px;
      a{
        font-weight: 700;
        color: $color_text-color;
        &:hover,
        &:focus {
          text-decoration: none;
          color: $color_brand-newspaper-x;
        }
    }
    }
  }

  .newspaper-x-layout-c-row {
    margin-bottom: 30px;
  }
  .newspaper-x-blog-post-layout-c {
    .newspaper-x-title {
      h3 {
        font-size: 17px;
        font-family: $font__main;
        text-transform: uppercase;
      }
    }
    .newspaper-x-content {
      display: block;
      font-family: $font__main;
      font-weight: 400;
      line-height: 20px;
      color: #8c9597;
      margin-top: 10px;
    }
  }
  .newspaper-x-blog-post-layout-b {
    .newspaper-x-content {
      display: block;
    }
  }
}