input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: $color__text-input;
  border: 1px solid $color__border-input;
  font-size: 15px;
  &:focus {
    color: $color__text-input-focus;
  }
}

select {
  border: 1px solid $color__border-input;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
  padding: 1px 15px;
  line-height:25px;
  color:#8b8d91;
  &:hover,
  &:focus{
    border-color: #89b3ce;
  }
}
input[type="search"]{
  padding:5px;
}
textarea {
  padding: 10px 15px;
  line-height:25px;
  min-height: 160px;
  color:#8b8d91;
  width:100%;
  &:hover,
  &:focus{
    border-color: #89b3ce;
  }
}

#searchform {
    border: 1px solid #e1e1e1;
    display: inline-block;
    width: 100%;
    @media (max-width: 361px) {
      display: inline-block;
    }
    .search-submit{
      background: none;
      font-size: 11px;
      border-left: 1px solid;
      border-right:0px;
      border-top:0px;
      border-bottom:0px;
      padding: 6px 14px;
      float: right;
      margin-top: 7px;
      color: #e1e1e1;
    }
  > label {
    margin-bottom: 0;
    padding: 3px;
    border-radius: 0;
    > input[type="search"] {
      width: 285px;
      bottom: 5px;
      position: relative;
      font-weight: 400;
      top: 0;
      border:none;
      border-radius: 0;
      @media (max-width: 1199px) {
        width: 200px;
      }
      @media (max-width: 995px) {
        width: 160px;
      }
      @media (max-width: 768px) {
        width: 285px;
      }
      @media (max-width: 768px) {
        width: 160px;
      }
    }
  }
  &:hover,
  &:focus{
    border-color: #89b3ce;
  }
}
.top-header {
  #searchform {
    border: none;
    label {
      margin-bottom: 0;
      padding: 0px;
    }
    #search-field {
      background: transparent;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid transparentize(#FFF, .8);
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 5px;
      border-radius: 0;
      color: #FFF;
      width: 0;
      -moz-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      float: right;
      font-weight: 400;
      &.opened {
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        width: 100%;
        padding-left: 10px;
      }
    }
    .search-submit {
      margin-top: 0px;
      background: transparent;
      color: #FFF;
      font-size: 14px;
      border: none;
      outline: none;
      box-shadow: none;
      position: relative;
      left:7px;
    }
  }
}


#cat {
  padding: 10px;
  border-radius: 3px;

}