// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
/* Footer */
#colophon {
  background-color: #001228;
  margin-top: 30px;
}

.site-info {
  background-color: #000f20;
  padding: 15px 0;
  *, a {
    font-size: 15px;
    color: #fff;
    font-family: $font__main;
  }
  #footer-navigation{
    ul{
      margin:0px;
      li {
        display:inline;
        margin-left: 30px;
      }
    }
  }
}

.back-to-top-area {
  a {
    font-size: 15px;
    color: #FFF;
    line-height: 25px;
    font-family: $font__alternate;
    float: right;
    margin-top: -44px;
    position: relative;
    right: -102px;
    background: #001d3e;
    padding: 10px 25px;
    @media (max-width: 1200px) {
      right:0px;
    }
  }
  i {
    padding-left: 7px;
  }
}

.site-footer {
  > .widgets-area {
    padding: 40px 0 0 0;
  }
}