/* Top header */
.top-header {
  background : #202020;
  color      : #fff;
  ul {
    list-style    : none;
    padding-left  : 0;
    margin-left   : 0;
    margin-bottom : 0;
    li {
      display : inline-block;
      a {
        font-family : "Oswald";
        font-size   : 16px;
        line-height : 26px;
        padding     : 10px 30px 10px 0;
        display     : block;
        color       : #ffffff;
      }
      &:last-of-type {
        a {
          padding-right : 0;
        }
      }
    }
  }
  @media (max-width : 767px) {
    ul {
      text-align : center;
    }
    #top-header-navigation, .top-header-icons {
      float : none !important;
    }
  }
}